#map {
    height: 200px;
    position: left;
}

.panel-primary {
    border: none;
}

.dropdown-menu {
    width: 560px;
    margin-left: 14px;
    background-color: royalblue;
}

.mother {
    height: 300px;
}